<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Success</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>'Reservation form was sent (*booking completed when full transaction completed only*)'<br>
      'Please capture the screen and keep it to contact further.'    </p>
    <img src="{{ reservation_image_url }}" alt="Reservation Slip" style="max-width: 100%; height: auto;">
</body>
</html>

